@import url(bevellier.css);

@import "https://unpkg.com/open-props";


body,html {
    overflow-x:hidden;
}
body {
    margin:0;
    font-family: 'Bevellier-Semibold';
    color:#FFF;
}
section {
    display:flex;
    align-items:center;
    justify-content: center; 
    flex-direction: column;
  	height: 100vh;
}
.panel-1 {
    background-image: var(--gradient-12);

}
.panel-2 {
    background-image: var(--gradient-4);

}
.panel-3 {
    background-image: var(--gradient-18);

}


h1 {
    font-size:4rem;
}